@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800);

html { font-size: 16px; }
body {font-family: 'Open Sans', sans-serif; font-size: 100%;overflow-y:scroll;}
h2 {font-size: 1.85em;text-align: left;margin: 1em 0 .75em;text-align:center;}
h3 {font-size: 1.25em;font-weight: 400;line-height: 1.4;margin: 0 8px .725em;}
h4 {font-size: 1em;font-weight: 400;line-height: 1.4;margin: 0 8px .725em;color:#333;}
label {font-size:12px;}

.row {margin:0px;}
.form-group {margin-top:15px; margin-bottom: 10px;}
.form-control {height:36px;}
.container.container-main.view-cont {padding:0px;min-height:200px;padding:40px 30px;border-left: 55px solid #333;}
.view-cont .card-panel {height:130px;color:#fff;text-align:center;padding:0px;border-radius:15px;}
.view-cont .card-panel h6 {position: relative;top: 43%;transform: translateY(-50%);font-size:16px;}
.view-cont .card-panel .add-icon:after{font-family: FontAwesome;content: "\f0fe";color: #fff;margin: 0 5px 0 -10px;font-size:40px;}
.upload-cont, .upload-cont-edit {border:1px solid #ddd;border-radius:20px;padding:10px 15px;cursor:pointer;margin-top:25px;margin-bottom:30px;margin-left:-3px;font-size:14px;}
.upload-head {border-bottom: 1px solid #ddd;padding-bottom: 10px;margin:0px;margin-bottom:10px;}
#Manual_File, #Manual_File_Edit {opacity:0;width: 100%;height: 42px;margin-top: -72px;margin-bottom: 5px;cursor:pointer;}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {cursor:pointer;}
.btn-save {background:#333;color:#ffffff;height:36px;}
.btn-save:hover {background:#444;color:#ffffff;}
.btn-remove {height:34px;border:none;}

/* --------------------------------------------------------- */
/* >>> NAVIGATION STYLES
/* --------------------------------------------------------- */
.dropdown-menu>li>a {padding:6px 20px;}
.dropdown .dropdown-toggle {padding-top:11px;padding-bottom:10px;}
.dropdown .dropdown-toggle .glyphicon {font-size:24px;}

/* --------------------------------------------------------- */
/* >>> LOGIN SCREEN STYLES
/* --------------------------------------------------------- */
.container-login-small {background: #ffffff;box-shadow: 0px 4px 6px -5px #000000;min-height: 355px;padding: 0px;}
.container-main {min-height:100%;margin-bottom:20px;padding:10px 70px 50px 70px;}
.login-logo {margin-top:15px;margin-bottom: 10px;text-align:center;}
.login-copy {font-size:8px;text-align:center;padding-top:15px;}
.login-error {margin-bottom:10px;font-size:12px;}
.login-error .form-message {margin-bottom:15px;}

/* --------------------------------------------------------- */
/* >>> ACCORDION STYLES
/* --------------------------------------------------------- */
.panel-collapse a { outline:0 !important; color:#0b70e1; }
.panel-collapse a:hover { color: #065bba; }
.panel-group .panel {margin-bottom: 0;border-radius: 0;}
.panel-title a:link, .panel-title a:hover, .panel-title a:active {text-decoration: none;}
.panel-title a:before {font-family:FontAwesome;content:"\f146";color:#0b70e1;margin:0 5px 0 -10px;}
.panel-title .collapsed:before {font-family:FontAwesome;content:"\f0fe";}
.panel{margin-bottom:20px;background-color:#fff;border:none;border-bottom:1px solid #ddd;}
.news-panel{background-color:#fff;border-bottom:none;margin:30px 0;}
.news-panel .panel-title a{font-weight:600;}
.news-panel .panel-body{padding:15px 0;}
.panel-default>.panel-heading{color:#333;background-color:transparent;}
.pdf-list {list-style: none;margin: 0;padding: 0 .8em;}
.pdf-list li, section>ul>li {margin-bottom: .25em;}
.pdf-list li:before {font-family: FontAwesome;content: "\f1c1";/* color: #aaa; */margin: 0 7px 0 -10px;}

/* --------------------------------------------------------- */
/* >>> MODAL STYLES
/* --------------------------------------------------------- */
.modal-body {border-left:45px solid #333;padding:40px 25px 40px 7px;}
.modal-body button.close.close-btn {position: absolute;top: 0;right: 0;padding: 5px 10px 5px 11px;border-left: 1px solid #333;border-bottom: 1px solid #333;}
.modal-body button.close.close-btn:hover {background:red;color:#ffffff;text-shadow: 0 1px 0 #000;border:0px;}
.modal-title {margin-bottom:10px;color:#4CAF50;font-weight:bold;padding-left:16px;}
.modal-title-cont {margin-left:15px;border-top:1px solid #ddd;padding-bottom:10px;}
.modal-body p {font-size:12px;padding-left:20px;}
.modal {text-align: center;}
.modal-dialog {display: inline-block;text-align: left;vertical-align: middle;}
.modal-content{border-radius:0px;}
#Warning_Modal .modal-title {color:#ec971f;/*color:#d9534f;*/}
#Warning_Modal .col-lg-12 {margin-top:8px;}
#Warning_Modal .modal-body {min-height:200px;}
#Warning_Modal .modal-body .btn {height:34px;}
@media (min-width: 768px){.modal-sm {width: 325px;}}
@media screen and (min-width: 768px) {.modal:before {display: inline-block;vertical-align: middle;content: " ";height: 100%;}}

/* --------------------------------------------------------- */
/* >>> ICON STYLES
/* --------------------------------------------------------- */
.glyphicon.glyphicon-plus.category-add, .glyphicon.glyphicon-edit.category-edit,
.glyphicon.glyphicon-plus.product-add, .glyphicon.glyphicon-edit.product-edit,
.glyphicon.glyphicon-plus.manual-add, .glyphicon.glyphicon-edit.manual-edit {transition: background 1.0s; transition: box-shadow 1.0s;cursor:pointer;font-size:14px;padding: 10px;margin-top: -14px;/*box-shadow: 0px 4px 6px -3px;*/box-shadow: 0px 0px 6px 0px #0b70e1;border-radius: 30px;background: #e5e5e5;width:32px;}
.glyphicon.glyphicon-plus.category-add:hover, .glyphicon.glyphicon-edit.category-edit:hover,
.glyphicon.glyphicon-plus.product-add:hover, .glyphicon.glyphicon-edit.product-edit:hover,
.glyphicon.glyphicon-plus.manual-add:hover, .glyphicon.glyphicon-edit.manual-edit:hover {background:#ccc;box-shadow: 0px 0px 6px 1px #0b70e1;}
.glyphicon.glyphicon-remove.Manual-remove, .glyphicon.glyphicon-remove.Product-remove,
.glyphicon.glyphicon-remove.Category-remove {margin-right: 10px;transition: background 1.0s; transition: box-shadow 1.0s;cursor:pointer;font-size:14px;padding: 10px;margin-top: -14px;box-shadow: 0px 0px 6px 0px #0b70e1;border-radius: 30px;background: #d9534f;width:32px;color:#ffffff;}
.glyphicon.glyphicon-remove.Manual-remove:hover, .glyphicon.glyphicon-remove.Product-remove:hover,
.glyphicon.glyphicon-remove.Category-remove:hover {background-color:#c9302c;box-shadow: 0px 0px 6px 1px #0b70e1;}


