<cfoutput>
<div class="col-xs-2 col-sm-2 col-sm-height col-sm-middle"  style="border-left:0;padding:0">
    <div class="inside inside-full-height">
        <div class="content" style="height:100%;">
            <div style="min-height:33.3333%">
                <div style="width:100%;">
                    <div style="display:inline-block;" >PO##</div>
                </div>                    
                <input id="po" type="search" value="#purchaseOrderObj.order.po#" placeholder="PO##..." class="text-box-update pr-item" style="width:100%;">
            </div>
            <div style="min-height:33.3333%; border-top: solid 1px ##000000;">
                <div style="width:100%;">
                    <div style="display:inline-block;" >Buyer:</div>
                </div>
                <input id="buyer" type="search" value="#purchaseOrderObj.order.buyer#" placeholder="Buyer..." class="text-box-update pr-item" style="width:100%;">
            </div>
            <div style="min-height:33.3333%; border-top: solid 1px ##000000;">
            	<div style="width:100%;">
                    <div style="display:inline-block;">Ship Via:</div>
                </div>
                <input id="shipvia" type="search" value="#purchaseOrderObj.order.shipvia#" placeholder="Ship Via..." class="text-box-update pr-item" style="width:100%;">
            </div>        
        </div>
    </div>
</div>


</cfoutput>
