
<cfsetting showdebugoutput="no">
<cfparam name="URL.lookup" default="">
<cfinclude template="../serverSettings.cfm">

<cfscript>	

	
	if (#FindNoCase('application/json', cgi.content_type)# > 0)
	{
    	myData = deserializeJSON(ToString(getHTTPRequestData().content));
		phrase = myData.lookup;
	}
	else
	{
		phrase = URL.lookup;
	}
	
	object = CreateObject("component", "#cfcs#.productReq"); 
	//returnResult = object.getCustomerFilter(lookup = "#myData.lookup#"); 
	//returnResult = object.getCustomerFilter(lookup = "#URL.lookup#"); 
	returnResult = object.getCustomerFilter(lookup = "#phrase#"); 

	serializer = new lib.JsonSerializer()
		.asString( "value" )
		.asString( "label" )
	;
	writeOUtput(serializer.serialize(returnResult));
</cfscript>


    
  


